*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0 , 0 , 0, 0.8),rgba(0 , 0 , 0, 0.2)) ,url("img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    
}
nav{
    width: 100%;
    height: 100px;
    color: white ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size:2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom:2px solid #4f46e5;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: #4f46e5;
    border-radius: 8px;
    margin-left: 100px;
}
.register a:hover{
    background: transparent;
    border: 1px solid #4f46e5;
    transition: 0.4s;
}
.h-txt{
    max-width: 650px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: white;
}
.h-txt span{
    letter-spacing: 5px;

}
.h-txt h1{
    font-size: 3.5em;

}
.h-txt a{
    text-decoration: none;
    background: #4f46e5;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;

}
.h-txt a:hover{
    background: transparent;
    border: 1px solid #4f46e5;
    transition: 0.4s;
}
section .container img .img{
    margin-left: 50%;
}



.card{
    max-width: 80vw;
   margin: 12px auto;
   font-family: 'Lato', sans-serif;
}
.cards{
   display: flex;
}
.cards .lines{
    background-color: black;
    color: white;
}
.card-item{
   display: inline flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 20px;
}
.card h2{
   font-family: 'Akronim', cursive;
}

.box{
   min-height: calc(100vh - 58px - 12vh);
   margin-top: -113px;
}
.box b{
    font-size:30px;
    margin-left: 386px;
    
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
